<!--The content below is only a placeholder and can be replaced.-->
<mat-toolbar>
  <span>PhoneBook</span>
  <button mat-icon-button [matMenuTriggerFor]="menu" id="menu-button">
    <mat-icon>more_vert</mat-icon>
  </button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item routerLink="profiles">
      <mat-icon>call</mat-icon>
      <span>Contacts</span>
    </button>
    <button mat-menu-item routerLink="settings">
      <mat-icon>settings_system_daydream</mat-icon>
      <span>Settings</span>
    </button>
    <button mat-menu-item routerLink="about">
      <mat-icon>perm_identity</mat-icon>
      <span>About</span>
    </button>
  </mat-menu>
</mat-toolbar>
<main>
  <div class="loader" *ngIf="loading">
    <mat-spinner></mat-spinner>
    Application Initializing
  </div>
  <router-outlet>
  </router-outlet>
<main>