
.create-profile {
    mat-form-field {
        width: 100%;
    }

    span {
        font-size: 12px;
    }
}

.actions {
    display: block;
    position: absolute;
    bottom: 0px;
    left: 0;
    right: 0;
    margin: auto;
}

button {
    width: 50%;
}